.container{
    margin: 0px;
    
   
}

.body_register{
    color: white;
    margin: 0px;
    padding: 20px;
    margin-right: 0px;
    margin-left: 10px;
    font-family: cursive;
 
  
    
    min-height: 600px;
    width: 115%;
    
    background-image:url("../images/closed_theatre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}


h1{
    color: white;
}

.textbox_button{ 
    text-align: center;
    margin-top: 0px;
 
  
} 

.form-control.w-25{
    margin:0px auto;
}

.form-label{
    color: white;
}