{% extends 'base.html.j2' %}


{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}


{% block title %}
    Homepage
{% endblock %}



{% block content%}
<div class="body">
    <h1 class=glow_effect> Welcome to Movie World</h1>
    <h5>"If at first you don't succeed, lower your standards."</h5>
    <div class="loader">
        <div class="face face1">
            <div class="circle"></div>
        </div>
        <div class="face face2">
            <div class="circle"></div>
        </div>
    </div>
    <div>
    
    </div>
</div>
    
{% endblock %}