{% extends 'base.html.j2'%}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/pokemon_team.css')}}">
{% endblock %}

{% block title %}
Movies
{% endblock %}


{% block content %}
<div class="body">
<h1 class="glow_effect">Here is your Selection</h1>

{% for movie in movies %}

  <div class="card h-100" style="width: 20rem; display: inline-block; width: 19%">
    <div class="for_image">
      <img src="{{movie.img}}"  class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h4 class="card-title text-center">{{movie.name}}</h4>

    </div>
    <table class="table table-borderless " style="text-align: right; width: 75%; margin:0px auto;" >
        <tbody>
        <tr>
          <td scope="col">Desc</th>
          <td>{{movie.desc}}</td>
        </tr>
        <tr>
          <td scope="col">Price</th>
          <td>{{movie.price}}</td>
        </tr>
        
      </tbody>
    </table>

    <div class="card-body"> 
      <a href="{{url_for('main.item_view', id=movie.item_id)}}" class="card-link">More Info</a>
     
     </div>

  </div>


  {% endfor %}






      
    </table> 

  </div>
</div>
{% endblock %}